<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= game.title %></h1>
<p>Platform: <%= game.platform %></p>
<p>Genre: <%= game.genre %></p>
<p>Release Year: <%= game.releaseYear %></p>
<p>Completed: <%= game.completed ? 'YES' : 'NO' %></p>
<p>Rating: <%= game.rating %>/10</p>

<a href="/games/<%= game._id %>/edit">Edit</a>
<a href="/games">Back</a>

    
</body>
</html>